{% extends "layout.html" %}

{% block title %}
    Friends
{% endblock %}

{% block main %}
{% for friend in friends %}
<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">{{friend.full_name}}</h5>
      <p class="card-text">{{friend.full_name}} is your friend from {{friend.country}}</p>
      <form action="/send" method="post">
      <input type="hidden" name="friend_id" value="{{ friend.id }}">
      <button class="btn btn-primary" type="submit">Send a Message</button>
    </div>
    </form>
  </div>
  <br>
{% endfor %}

{% endblock %}
