{% extends "layout.html" %}

{% block title %}
    Index Page
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for item in portfolio %}
                <tr>
                    <td class="text-start">{{ item.symbol }}</td>
                    <td class="text-end">{{ item.shares }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
