{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<form action="/login" method="post">
<div class="form-floating mb-3 mx-auto w-50">
    <input autofocus type="username" class="form-control" id="floatingInput" placeholder="Username" name="username">
    <label for="floatingInput">Username</label>
  </div>
  <div class="form-floating mx-auto w-50">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
    <label for="floatingPassword">Password</label>
  </div>
  <br>
  <button class="btn btn-primary btn-lg" type="submit">Log In</button>
  <br>
  <br>
  <p style="color: white;">Don't have an account?</p>
  <a href="/register" class="btn btn-outline-light" role="button">REGISTER</a>
  <!-- <a href="/register" style="color: white;">Register</a> -->
</form>
    <!-- <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form> -->
{% endblock %}
