{% extends "layout.html" %}
{% block title %}Friend Requests{% endblock %}
{% block main %}
    <h3>Pending Friend Requests</h3>
    {% for request in requests %}
        <div class="row mb-2 align-items-center">
            <div class="col-sm-9">
                <p> <b>{{ request.full_name }}</b>  username ({{ request.username }}) sent you a request on <b>{{ request.request_date }}</b></p>
            </div>
            <div class="col-sm-3">
                <form action="/accept" method="post" class="d-inline">
                    <input type="hidden" name="requester_id" value="{{ request.requester_id }}">
                    <button class="btn btn-success btn-sm" type="submit">Accept</button>
                </form>
                <form action="/reject" method="post" class="d-inline">
                    <input type="hidden" name="requester_id" value="{{ request.requester_id }}">
                    <button class="btn btn-danger btn-sm" type="submit">Reject</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}