{% extends "layout.html" %}
{% block title %}Friend Requests{% endblock %}
{% block main %}
    <h3 style="color: white;">Pending Friend Requests</h3>
    <table class="table caption-top">
        <caption><strong style="color: white;"></strong></caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">From</th>
            <th scope="col">Country</th>
            <th scope="col">Date Received</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for request in requests %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ request.full_name }}</td>
            <td>{{ request.country }}</td>
            <td>{{ request.request_date }}</td>
            <td>
              <div class="btn-group">
                <form action="/accept" method="post" style="display:inline;">
                    <input type="hidden" name="requester_id" value="{{ request.requester_id }}">
                    <button class="btn btn-success btn-sm" type="submit">Accept</button>
                </form>
                <form action="/reject" method="post" style="display:inline;">
                    <input type="hidden" name="requester_id" value="{{ request.requester_id }}">
                    <button class="btn btn-danger btn-sm" type="submit">Reject</button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      <h3 style="color: rgb(224, 249, 7);">Sent Friend Requests</h3>
      <table class="table caption-top">
          <caption><strong style="color: white;"></strong></caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Sent To</th>
              <th scope="col">Country</th>
              <th scope="col">Date Sent</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for request in  sent_requests %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{ request.full_name }}</td>
              <td>{{ request.country }}</td>
              <td>{{ request.request_date }}</td>
              <td>
                {% if request.status == 'accepted' %}
                    <b class="status-accepted">{{ request.status | upper }}</b>
                {% elif request.status == 'rejected' %}
                    <b class="status-rejected">{{ request.status | upper }}</b>
                {% elif request.status == 'pending' %}
                    <b class="status-pending">{{ request.status | upper }}</b>
                {% else %}
                    <b>{{ request.status | upper }}</b>
                {% endif %}
            </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}