{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <form action="/search" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="friend" placeholder="Friend Name" type="search">
        </div>
        <button class="btn btn-secondary" type="submit">Search for Friends</button>
    </form>
    <br>
    <br>
    <div>
        <h3 style="color: rgb(1, 1, 16);">Search Results 🔍</h3>
        {% for friend in friends %}
            <div class="row mb-2 align-items-center">
                <div class="col-sm-9">
                    <p style="color: aliceblue; margin-bottom: 0;"><b>Found</b>: {{ friend.full_name }} from <b>Country</b>: {{ friend.country }}</p>
                </div>
                <div class="col-sm-3">
                    <form action="/request" method="post" class="d-inline">
                        <input type="hidden" name="friend_id" value="{{ friend.id }}">
                        <button class="btn btn-primary btn-sm" type="submit">Request to connect</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <a href="/" style="color: black;">Back to Home</a>
{% endblock %}