{% extends "layout.html" %}

{% block title %}
    Sell shares page
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="dropdown">Please select shares to sell:</label>
            <select id="dropdown" name="symbol">
                {% for symbol in user_symbols %}
                    <option value="{{ symbol.symbol }}">{{ symbol.symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Shares Amount" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell Shares</button>
    </form>
{% endblock %}
